.primary-header h2 {
   color: rgb(100, 136, 128);
   font-family: Lato, 'Open sans', Helvetica;
   margin: 0 10px;
   padding: 80px 0 22px 0;
   font-size: 21px;
   font-weight: 300;
}

.main-top h3 {
  color: rgb(100, 136, 128);
   text-align: center;
   font-family: Lato, 'Open sans', Helvetica;
   font-size: 36px;
   font-weight: 300;
}

.main-top p {
    color: white;
    text-align: center;
    font-family: Lato, 'open sans', Helvetica;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 22px;
    line-height: 44px;

}

.main-top {
    padding-top: 22px;
    padding-right: 80px;
    padding-bottom: 66px;
    padding-left: 80px;
    text-align: center;
    height: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    line-height: 44px;
    color: white;

}

.primary-header h1 {
    color: white;
    font-family: Lato, 'open sans', Helvetica;
    text-align: left;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0 22px 0;
    text-transform: uppercase;
    
}


#nav-bar a {
      color: white;
      text-decoration: none;
      font-family: Lato, 'open sans', Helvetica;
      text-align: right;
      display: block;
      list-style-type: none;
      list-style-position: outside;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: .5px;
      text-transform: uppercase;


}

li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    
}

.main-top a {
    color: white;
    text-align: center;
    text-decoration: none;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: Lato, 'open sans', Helvetica;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    
}

.primary-header {
  text-align: right;
  background-color: #293f50;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  clear: both;
  height: 176px;

}

body {
    background-color: #293f50;
 
}

#main-bottom {
    background-color: white;
    padding-top: 66px;
    padding-right: 0px;
    padding-bottom: 44px;
    padding-left: 0px;
    font-family: Lato, 'open sans', Helvetica;
    height: auto;
    margin-left: -8px;
    margin-right: -8px;

}
.grid {
    padding-left: 230px;
    padding-right: 15px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.grid-pic1 {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-bottom: 22px;
    font-size: 21px;
    color: #648880;
    font-weight: 300;
}

.grid-pic2 {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-bottom: 22px;
    font-size: 21px;
    color: #648880;
    font-weight: 300;
}

.grid-pic3 {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-bottom: 22px;
    font-size: 21px;
    color: #648880;
    font-weight: 300;
}
   
.grid-pic1 img {
    margin-bottom: 22px;
    border-radius: 5px;
    cursor: pointer;
}

.grid-pic2 img {
    margin-bottom: 22px;
    border-radius: 5px;
    cursor: pointer;
}

.grid-pic3 img {
    margin-bottom: 22px;
    border-radius: 5px;
    cursor: pointer;
}

.grid-pic1 h1 {
    color: rgb(169, 178, 185);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.grid-pic2 h1 {
    color: rgb(169, 178, 185);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.grid-pic3 h1 {
    color: rgb(169, 178, 185);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.grid-pic1 p {
    font-size: 16px;
    margin-bottom: 22px;
    line-height: 22px;
    font-weight: 300;
    color:rgb(136, 136, 136);
}

.grid-pic2 p {
    font-size: 16px;
    margin-bottom: 22px;
    line-height: 22px;
    font-weight: 300;
    color:rgb(136, 136, 136);
}

.grid-pic3 p {
    font-size: 16px;
    margin-bottom: 22px;
    line-height: 22px;
    font-weight: 300;
    color:rgb(136, 136, 136);
}

.nav-foot {
    text-align: right;
    

}

.nav-foot a {
  color: white;
  text-decoration: none;
  font-family: Lato, 'open sans', Helvetica;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
}

.nav-foot ul {
    list-style: none;
}

.nav-foot li {
    display: inline-block;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.footer {
    color: #648880;
    font-size: 14px;
    padding-bottom: 44px;
    padding-left:30px;
    padding-right:30px;
    padding-top: 44px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 90px;
}

.footer p {
    font-family: Lato, 'open sans', Helvetica;
    font-weight: 400;
    float: left;

}

#nav-bar a:hover {
    color:  rgb(100, 136, 128);
}

.nav-foot a:hover {
    color:  rgb(100, 136, 128);
}

.main-top a:hover {
    background-color: rgb(100, 136, 128);
}

.grid-pic1 img:hover {
    transform: scale(1.1);
}

.grid-pic2 img:hover {
    transform: scale(1.1);
}

.grid-pic3 img:hover {
    transform: scale(1.1);
}